<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/favicon.png" rel="icon" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/alb-css/bootstrap4.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" type="text/css" href="/css/{{this}}">
            {{/each}}
        {{/if}}
        <link rel="stylesheet" type="text/css" href="/css/gdpr.css">

        <script type="text/javascript" src="/alb-js/util/shim.js"></script>
        <script type="text/javascript" src="/js/spec/util/ColdStorage.js"></script>
        <script type="text/javascript" src="/alb-js/util/request.js"></script>
        <script type="text/javascript" src="/alb-js/util/ElementFactory.js"></script>

        <script type="text/javascript" src="/alb-js/base/base-dom.js"></script>
        <script type="text/javascript" src="/alb-js/base/icon-link.js"></script>
        <script type="text/javascript" src="/alb-js/modal/modal.js"></script>
        <script type="text/javascript" src="/alb-js/modal/error-modal.js"></script>
        <script type="text/javascript" src="/alb-js/modal/warning-modal.js"></script>
        <script type="text/javascript" src="/alb-js/modal/success-modal.js"></script>

        {{#if scripts}}
            {{#each scripts}}
                <script type="text/javascript" src="/js/{{this}}"></script>
            {{/each}}
        {{/if}}
        <script type="text/javascript" src="/alb-js/base/app-header.js"></script>
        <script type="text/javascript" src="/alb-js/base/app-footer.js"></script>
        <script type="text/javascript" src="/alb-js/base/app-page.js"></script>
        <script type="text/javascript" src="/js/mom-page.js"></script>

        <script src="/alb-js/util/cookie-listener.js"></script>
    </head>
    <body>
        <mom-page>
            <div slot='content'>
                {{{body}}}
            </div>
        </mom-page>
    </body>
</html>
