<link rel="stylesheet" type="text/css" href="/css/404.css">
<section class="not-found-wrap">
    <div>
        <h1>Page not Found</h1>
        <p>Sorry about that! We'll get right on fixing it!</p>
    </div>
</section>
