<script type="text/javascript" src="/alb-js/util/chartjs_2_9_3.js"></script>
<section>
    <img src="/assets/logo.png" alt="Momager logo" class="hero">
    <h1>Welcome to Momager!</h1>
    <h2>Hi, I'm here to help. I need to get to know you so I can be more useful.</h2>
    <div>
        <a class="btn btn-primary" href="/sign-up">Let's Get Started</a> Or <a class="btn btn-primary" href="/sign-in">Sign In</a>
    </div>
</section>
